/* ---------------------------- GENERAL STYLING ---------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  padding: 100px 2% 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p,
span {
  font-size: 18px;
}

.MuiButton-contained {
  text-transform: initial !important;
}

.MuiButton-contained:hover,
a:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
}

.MuiTextField-root {
  background-color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 15px;
}

.MuiAutocomplete-popper {
  min-height: auto;
  max-height: 20vh;
}
.MuiAutocomplete-popper .MuiAutocomplete-listbox {
  min-height: auto;
  max-height: 20vh;
}

.MuiAutocomplete-listbox {
  min-height: auto;
  max-height: 20vh;
}

/* ---------------------------- HEADER & FOOTER ---------------------------- */
header,
footer {
  width: 100%;
  padding: 1%;
  position: fixed;
  z-index: 2;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
}

#header {
  height: 8vh;
}
#header #logo-container {
  width: 40%;
  height: 100%;
  cursor: pointer;
}
#header #logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
}

#header-dark {
  height: 8vh;
  background-color: #456b9a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
}
#header-dark #logo-container {
  width: 10%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header-dark #logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

@keyframes logo-hover {
  10% {
    transform: translateX(25px);
  }
  30% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(15px);
  }
  70% {
    transform: translateX(-10px);
  }
  85% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
#logo-container:hover {
  animation-name: logo-hover;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

footer {
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
}

/* ---------------------------- DROPDOWN MENU ---------------------------- */
#dropdown-menu-icon {
  color: white;
  font-size: 2.5vw !important;
  cursor: pointer;
}
#dropdown-menu-icon:hover {
  transform: scale(1.1);
  transition: 0.3s linear;
}

.MuiDrawer-root .MuiDrawer-paper {
  background-color: #a9bcd0;
  top: 1%;
  border-radius: 20px 0 0 20px;
  height: 65%;
  border: solid 5px #495057;
  border-right: 0;
  width: 35%;
}

.settings-header {
  background-color: #456b9a;
  width: 100%;
  padding: 1%;
  border-radius: 15px 0 0 0;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.settings-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: white;
}
.settings-header #profile-avatar {
  width: 60px;
  height: 60px;
  background-color: #456b9a;
  border: solid 2px white;
}

.settings-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
}
.settings-options .settings-option {
  width: 90%;
  background-color: #f0eff4;
  height: 20%;
  min-height: 30px;
  border-radius: 15px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #495057;
  cursor: pointer;
}
.settings-options .settings-option h3 {
  font-size: 25px;
  font-weight: 300;
}
.settings-options .settings-option svg {
  font-size: 35px;
}
.settings-options .settings-option:hover {
  transform: scale(1.02);
  transition: 0.3s linear;
}

.settings-footer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 6%;
}
.settings-footer svg {
  font-size: 40px;
  cursor: pointer;
}
.settings-footer svg:hover {
  transform: scale(1.05);
  transition: 0.3s linear;
}

/* ---------------------------- HOMEPAGE ---------------------------- */
#home-screen {
  background-color: #f0eff4;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#home-screen #home-bg-shape {
  background-color: #a9bcd0;
  width: 170%;
  height: 170%;
  position: absolute;
  top: 15%;
  left: -80%;
  z-index: -1;
  transform: rotateZ(40deg);
}
#home-screen #home-login-btn,
#home-screen #home-signup-btn {
  width: 300px;
  font-size: 20px;
}
#home-screen #home-login-btn {
  background-color: #495057;
}
#home-screen #home-signup-btn {
  background-color: #456b9a;
}
#home-screen .home-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 8%;
  bottom: 20%;
}

/* ---------------------------- LOGIN PAGE ---------------------------- */
#login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 15%;
  background-color: #a9bcd0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #495057;
}
#login-screen #login-bg-shape {
  background-color: #f0eff4;
  width: 2000px;
  height: 2000px;
  position: absolute;
  bottom: -530px;
  left: 40%;
  z-index: -1;
  transform: rotateZ(90deg);
  border-radius: 60%;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
#login-form .MuiTextField-root {
  margin-bottom: 5%;
}

#login-button-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#login-btn {
  width: 200px;
  font-size: 18px;
  background-color: #456b9a;
}

#login-link a {
  margin: 0 4px !important;
  color: #456b9a;
}

/* ---------------------------- SignUp PAGE ---------------------------- */
#sign-up-screen {
  background-color: #456b9a;
  background-image: -webkit-linear-gradient(138deg, #f0eff4 60%, #a9bcd0 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
#sign-up-form .MuiTextField-root {
  margin-bottom: 5%;
}

#registration-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#sign-up-btn {
  width: 200px;
  background-color: #456b9a;
}

#cancel-sign-up-btn {
  width: 200px;
  background-color: #f0eff4;
  color: #456b9a;
}

/* ---------------------------- SIDE MENU ---------------------------- */
#side-menu .MuiDrawer-paper {
  top: 100px;
  width: 8vh;
  min-width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  background-color: #a9bcd0;
  border-radius: 0 0 20px 0;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 5px solid #456b9a;
}
#side-menu .MuiSvgIcon-root {
  font-size: 250%;
}
#side-menu .MuiList-root {
  padding-top: 0;
  padding-bottom: 0;
}
#side-menu .MuiListItem-root {
  justify-content: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
#side-menu .side-menu-img-container {
  width: 7vh;
  min-width: 100px;
  height: 7vh;
  min-height: 100px;
  border-radius: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}
#side-menu .side-menu-img-container img {
  width: 100%;
  height: 95%;
  border-radius: 30%;
}

.side-menu-item {
  background-color: #456b9a;
}
.side-menu-item .MuiSvgIcon-root {
  color: #a9bcd0;
}

#side-menu-item-before {
  border-radius: 0 0 20px 0;
}

#side-menu-item-after {
  border-radius: 0 20px 0 0;
}

#side-menu-item-selected {
  background-color: #a9bcd0;
}
#side-menu-item-selected .MuiSvgIcon-root {
  color: #456b9a;
}

/* ---------------------------- DASHBOARD ---------------------------- */
#loading-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loading-screen h2 {
  color: #456b9a;
}

.dashboard-main {
  height: 100%;
  width: 96%;
  margin-left: 110px;
}

#dashboard {
  background-color: #a9bcd0;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100vh;
}

#dashboard-header-title {
  color: white;
  position: absolute;
  top: 0px;
  left: 20vw;
  right: 10vw;
  width: 68%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.dashboard-main-menu {
  width: 90%;
  height: 100%;
  padding: 0 0 0 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8%;
}

.dashboard-main-column {
  width: 450px;
  min-width: 22vw;
  background-color: #d8dbe2;
  border-radius: 0 0 20px 20px;
  height: 90%;
}
.dashboard-main-column .column-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #456b9a;
  border-radius: 0 0 20px 20px;
}
.dashboard-main-column .column-header h3 {
  color: white;
}
.dashboard-main-column .column-options {
  height: 93%;
  width: 100%;
  padding: 20px 5%;
  gap: 10px;
  overflow: auto;
}
.dashboard-main-column .dashboard-menu-item {
  border: solid 3px #456b9a;
  width: 100%;
  aspect-ratio: 5/1;
  border-radius: 100px;
  background-color: #a9bcd0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  margin-bottom: 10px;
  cursor: pointer;
}
.dashboard-main-column .dashboard-menu-item .menu-item-avatar {
  height: 100%;
  width: 20%;
  border: solid 3px #456b9a;
  margin-left: -3px;
}
.dashboard-main-column .dashboard-menu-item .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 30px;
}
.dashboard-main-column .dashboard-menu-item:hover {
  transform: scale(105%);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* ---------------------------- Friends-UI ---------------------------- */
#friends {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.friends-menu {
  height: 100%;
  width: 25%;
  background-color: #a9bcd0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.friends-menu .friends-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.friends-menu .MuiAutocomplete-root .MuiOutlinedInput-root {
  padding-right: 5% !important;
}
.friends-menu .friends-bottombar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.friends-menu .friends-bottombar .add-friends-link {
  width: 90%;
  position: relative;
}
.friends-menu .friends-bottombar .add-friends-link a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #495057;
  padding-left: 2%;
}
.friends-menu .friends-bottombar .add-friends-link #notification-flag {
  width: 15px;
  height: 15px;
  background-color: #b92727;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: 800;
  position: absolute;
  top: -30%;
  left: 0;
}
.friends-menu #friend-selected {
  border: 3px solid #456b9a;
  box-shadow: 8px 8px 40px #456b9a;
}
.friends-menu .friend-menu-item {
  width: 90%;
  aspect-ratio: 5/1;
  border-radius: 100px;
  background-color: #f0eff4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  cursor: pointer;
}
.friends-menu .friend-menu-item .menu-item-avatar {
  height: 100%;
  width: 20%;
}
.friends-menu .friend-menu-item .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 30px;
}
.friends-menu .friend-menu-item:hover {
  transform: scale(105%);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.friends-menu .friend-menu-item .friend-item-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.friends-menu .friend-menu-item .friend-item-header span {
  font-size: 20px;
}
.friends-menu .friend-menu-item .friend-item-header .MuiSvgIcon-root {
  font-size: 15px;
}
.friends-menu .friend-menu-item .friend-item-header #green {
  color: green;
}
.friends-menu .friend-menu-item .friend-item-header #orange {
  color: orange;
}
.friends-menu .friend-menu-item .friend-item-header #red {
  color: #b92727;
}
.friends-menu .friend-menu-item .friend-item-header #grey {
  color: #495057;
}
.friends-menu .friend-menu-item .friend-item-message {
  margin: 2% 0 2% 2%;
  max-width: 230px;
}
.friends-menu .friend-menu-item .friend-item-message p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  color: #495057;
}

.friends-chat-area {
  height: 100%;
  width: 75%;
  background-color: #d8dbe2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friends-chat-area h2 {
  color: #495057;
  font-weight: 300;
}

.friend-search-chip {
  margin: 5px 2% !important;
  width: 96% !important;
  justify-content: flex-start !important;
}
.friend-search-chip .add-friend-icon {
  position: absolute;
  right: 3%;
  font-size: 200% !important;
}

/* ---------------------------- ChatUI ---------------------------- */
#chat-ui-container {
  background-color: #d8dbe2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 15px 1%;
  height: 100%;
}
#chat-ui-container .chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: normal;
  overflow-y: auto;
  padding-inline: 6px;
}
#chat-ui-container .chat-messages .message-content-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#chat-ui-container .chat-messages .message-content-other {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#chat-ui-container .chat-messages .message-content {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-width: 450px;
  width: -moz-fit-content;
  width: fit-content;
}
#chat-ui-container .chat-messages .message-timestamp {
  color: #8a8a8a;
}
#chat-ui-container .chat-messages .message-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #a9bcd0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
#chat-ui-container .chat-messages .message-other {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f0eff4;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
#chat-ui-container .chat-messages #message {
  padding-inline: 1rem;
}
#chat-ui-container .chat-messages #message-image-container {
  width: 300px;
  height: 300px;
}
#chat-ui-container .chat-messages #message-image-container img {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#chat-ui-container .message-status {
  position: fixed;
  bottom: 80px;
  font-size: 14px;
  font-style: italic;
}

#message-file {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0eff4;
  padding: 10px;
  border-radius: 10px;
}
#message-file .file-name {
  padding-inline: 1rem;
}
#message-file .file-size {
  padding-inline: 2px;
}
#message-file #message-file-mui .MuiSvgIcon-root {
  font-size: 3rem;
}
#message-file #message-file-mui .MuiBadge-badge {
  padding-left: 14px;
  padding-top: 30px;
}

#chat-divider-container {
  padding-block: 20px;
  text-align: center;
  color: #8a8a8a;
}
#chat-divider-container #chat-divider {
  margin-block: 20px;
}

#chat-input-container {
  width: 100%;
  position: relative;
  bottom: 0;
}

/* ---------------------------- Add group modal ---------------------------- */
#add-group-modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-group-modal {
  aspect-ratio: 3/4;
  width: 35%;
  background-color: #a9bcd0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6%;
}
.add-group-modal #add-group-modal-header {
  height: 13%;
  background-color: #456b9a;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-group-modal #add-group-modal-header h2 {
  font-weight: 300;
  color: white;
}
.add-group-modal #add-group-modal-body {
  width: 70%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.add-group-modal #add-group-modal-body a {
  width: 100%;
  text-decoration: none;
}
.add-group-modal #add-group-modal-body #add-group-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  color: #456b9a;
}
.add-group-modal #add-group-modal-body #add-group-bttn {
  background-color: #456b9a;
  width: 70%;
  height: 8%;
}
.add-group-modal #add-group-img-input {
  display: none;
}
.add-group-modal #img-upload-box {
  width: 200px;
  height: 200px;
  background-color: #f0eff4;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.add-group-modal #img-upload-box .MuiSvgIcon-root {
  font-size: 90px;
  margin-top: -10px;
  color: #495057;
}
.add-group-modal #img-upload-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.add-group-modal #group-members-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8%;
}
.add-group-modal #group-members-container .group-member-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 1%;
}

/* ---------------------------- Edit Profile modal ---------------------------- */
#edit-profile-modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-profile-modal {
  width: 35%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 95%;
  background-color: #a9bcd0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#edit-profile-modal #edit-profile-modal-header {
  background-color: #456b9a;
  padding-block: 2rem;
  text-align: center;
  border-radius: 30px 30px 0 0;
  width: 100%;
}
#edit-profile-modal #edit-profile-modal-header h3 {
  color: white;
}
#edit-profile-modal #edit-profile-submit-button {
  margin-top: 8%;
  background-color: #456b9a;
}
#edit-profile-modal #edit-profile-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  gap: 5px;
  padding-top: 5%;
}
#edit-profile-modal #edit-avatar-img-input {
  display: none;
}
#edit-profile-modal #edit-avatar-img-box {
  width: 200px;
  height: 200px;
  background-color: #f0eff4;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#edit-profile-modal #edit-avatar-img-box .MuiSvgIcon-root {
  font-size: 90px;
  margin-top: -10px;
  color: #495057;
}
#edit-profile-modal #edit-avatar-img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
#edit-profile-modal #edit-profile-avatar {
  width: 100%;
  height: 100%;
}
#edit-profile-modal #edit-avatar-upload-box {
  width: 150px;
  height: 150px;
  background-color: #f0eff4;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#edit-profile-modal #edit-avatar-upload-box .MuiSvgIcon-root {
  font-size: 90px;
  margin-top: -10px;
  color: #495057;
}
#edit-profile-modal #edit-avatar-upload-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
#edit-profile-modal #edit-profile-modal-textfields-container {
  width: 90%;
  padding-top: 4%;
}
#edit-profile-modal #edit-profile-modal-textfields-container p {
  margin: 10px 0 5px 0;
}
#edit-profile-modal #edit-profile-modal-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#edit-profile-modal #edit-profile-btn {
  color: #f0eff4;
  background-color: #495057;
  width: 100%;
  margin-top: 8%;
}
#edit-profile-modal #edit-profile-btn svg {
  margin-right: 10px;
}
#edit-profile-modal #edit-profile-btn:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
}

/* ---------------------------- Password Update modal ---------------------------- */
#password-update-modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#password-update-modal {
  width: 30%;
  background-color: #a9bcd0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}
#password-update-modal #password-update-modal-header {
  background-color: #456b9a;
  text-align: center;
  padding-block: 2rem;
  border-radius: 30px 30px 0 0;
  width: 100%;
}
#password-update-modal #password-update-modal-header h3 {
  color: white;
}
#password-update-modal #password-update-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  padding-block: 1rem;
  width: 80%;
}
#password-update-modal a {
  text-align: left;
}
#password-update-modal #password-update-modal-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 80%;
  padding-block: 1rem;
  margin: auto;
}
#password-update-modal #cancel-password-modal-btn {
  color: #495057;
  text-decoration: underline;
  width: 80%;
  margin: auto;
}
#password-update-modal #cancel-password-modal-btn:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
  background-color: #f0eff4;
}

/* ---------------------------- Confirmation modals ---------------------------- */
#add-friend-modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-friend-modal {
  aspect-ratio: 5/2;
  width: 40%;
  background-color: #a9bcd0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8%;
}
#add-friend-modal #add-friend-modal-header {
  background-color: #456b9a;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
}
#add-friend-modal #add-friend-modal-header h2 {
  font-weight: 300;
  color: white;
}

.confirmation-modal-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.confirmation-modal-center .user-chip-avatar {
  width: 150px;
  height: 150px;
}
.confirmation-modal-center span {
  font-size: 20px;
}

/* ---------------------------- Manage Friends Modal ---------------------------- */
#manage-friends-modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#manage-friends-modal {
  width: 45%;
  background-color: #a9bcd0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8%;
  height: 70%;
}
#manage-friends-modal #manage-friends-modal-header {
  background-color: #456b9a;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}
#manage-friends-modal #manage-friends-modal-header h2 {
  font-weight: 300;
  color: white;
}

#manage-friends-modal-whitebox {
  width: 90%;
  height: 45%;
  max-height: 45%;
  background-color: #ffffff;
  overflow: auto;
  padding-left: 5%;
  gap: 15px;
  padding-top: 20px;
}

.manage-friends-link {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #495057;
  padding-left: 2%;
}

#search-icon {
  cursor: pointer;
}

/* ---------------------------- User Chip ---------------------------- */
.user-chip {
  width: 95%;
  aspect-ratio: 9/1;
  border-radius: 100px;
  background-color: #f0eff4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  margin-bottom: 20px;
  position: relative;
}
.user-chip .user-chip-notification {
  color: #b92727;
  position: absolute;
  z-index: 3;
  top: -10%;
  left: 7%;
  font-size: 20px !important;
}
.user-chip .user-chip-avatar {
  height: 100%;
  width: 11%;
}
.user-chip .MuiSvgIcon-root {
  font-size: 30px;
}
.user-chip .user-chip-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 52%;
}
.user-chip .user-chip-main h5 {
  margin-left: 20%;
  padding-top: 1%;
}
.user-chip .user-chip-main span {
  font-size: 18px;
}
.user-chip .user-chip-main .friend-request-icons {
  position: absolute;
  right: 5%;
}
.user-chip .user-chip-main .friend-request-icons .friend-request-accept {
  color: green;
  margin-right: 10px;
}
.user-chip .user-chip-main .friend-request-icons .friend-request-refuse {
  color: #b92727;
}
.user-chip .user-chip-main .friend-request-icons .friend-request-accept,
.user-chip .user-chip-main .friend-request-icons .friend-request-refuse {
  cursor: pointer;
}
.user-chip .user-chip-main .friend-request-icons .friend-request-accept:hover,
.user-chip .user-chip-main .friend-request-icons .friend-request-refuse:hover {
  transform: scale(120%);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.user-chip .user-chip-main .remove-friends-icon {
  position: absolute;
  right: 5%;
  cursor: pointer;
}
.user-chip .user-chip-main .remove-friends-icon:hover {
  transform: scale(110%);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#friends-request {
  background-color: #a9bcd0;
}

/* ---------------------------- Groups page ---------------------------- */
.group-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.group-page .group-menu {
  height: 100%;
  width: 25%;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.group-page .group-menu h2 {
  font-size: 40px;
}
.group-page .group-menu div {
  width: 100%;
}
.group-page .group-chat-area {
  height: 100%;
  width: 75%;
}
.group-page #channels-title {
  margin-top: 30px;
}
.group-page .group-options {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.group-page .group-options .group-option {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.group-page .group-options .group-option a {
  font-size: 20px;
}
.group-page .group-options .group-option svg {
  font-size: 30px;
}
.group-page .group-options .group-option div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
  min-width: 70%;
  width: -moz-fit-content;
  width: fit-content;
}
.group-page #group-bttns {
  gap: 10px;
  padding: 0;
}
.group-page #manage-members-icon {
  cursor: pointer;
}
.group-page #manage-members-icon:hover {
  transform: scale(1.05);
  transition: 0.3s linear;
}

.group-button {
  width: 100%;
  background-color: #f0eff4;
  height: 40px;
  border-radius: 15px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #495057;
  cursor: pointer;
  border: 0;
}
.group-button h3 {
  font-size: 20px;
  font-weight: 200;
}
.group-button svg {
  font-size: 28px;
}
.group-button:hover {
  transform: scale(1.02);
  transition: 0.3s linear;
}

#group-delete-bttn {
  background-color: #b92727;
  color: white;
  margin-top: 20%;
}

.group-admin-flag {
  width: 120% !important;
  padding: 3% 2% 3% 9%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
  margin: -7% 0 5% -12%;
  background-color: #495057;
  color: rgb(251, 173, 7);
}
.group-admin-flag img {
  width: 15%;
  max-width: 40px;
}

#manage-group-settings-textfield {
  width: 100%;
}
#manage-group-settings-textfield p {
  margin-bottom: 2.1%;
  padding-left: 1%;
}

#manage-group-submit-button {
  width: 100%;
  font-size: 19px;
  background-color: #456b9a;
}

#manage-group-settings {
  gap: auto;
}

#manage-members-modal {
  width: 45%;
  background-color: #a9bcd0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8%;
  height: 70%;
}
#manage-members-modal #manage-members-modal-header {
  background-color: #456b9a;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}
#manage-members-modal #manage-members-modal-header h2 {
  font-weight: 300;
  color: white;
}

.manage-friends-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ---------------------------- Email Verification page ---------------------------- */
#email-verification {
  background-color: #a9bcd0;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
}

#email-verification-container {
  padding: 20px;
  text-align: center;
}

/* ---------------------------- ADMIN HOME ---------------------------- */
#admin-home {
  background-color: #a9bcd0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#admin-home #admin-title {
  position: absolute;
  top: 26px;
  z-index: 2;
  font-size: 40px;
  font-weight: 400;
  color: white;
}
#admin-home .admin-home-partial {
  box-shadow: 2px 0px 6px #456b9a;
  width: 30%;
  height: 50vh;
  background-color: #d8dbe2;
  border-radius: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#admin-home .admin-home-partial:hover {
  transform: scale(1.02);
}
#admin-home .admin-home-partial svg {
  font-size: 10vw;
  color: #456b9a;
}
#admin-home .admin-home-partial h2 {
  font-size: 2vw;
  color: #495057;
}

#grid-loading-screen {
  width: 100%;
  height: 60vh;
  background-color: #a9bcd0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#grid-loading-screen h2 {
  color: #456b9a;
}

.admin-manage-screen {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5vh;
}
.admin-manage-screen .top-buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.admin-manage-screen .top-buttons-wrapper h2 {
  font-weight: 500;
  color: #00274c;
}

#admin-box,
#admin-datagrid,
.MuiDataGrid-root {
  border-radius: 20px;
  border: 0 !important;
  max-height: 65vh;
}

.top-row {
  background-color: #456b9a;
  min-width: 100%;
  color: white;
  font-size: larger;
}

#admin-add-user {
  width: 20vw;
  min-width: 200px;
  background-color: #456b9a;
  font-size: larger;
}/*# sourceMappingURL=style.css.map */