//************** Main Stylesheet - SASS **************//

// Before using, start compiler from terminal in the static folder with command
// sass --watch style.scss:style.css

// COLORS
$echo-lighterblue: #d8dbe2;
$echo-lightblue: #a9bcd0;
$echo-darkblue: #456b9a;
$echo-lightgrey: #f0eff4;
$echo-darkgrey: #495057;
$echo-red: #b92727;

$echo-text-bg-user: #a9bcd0;
$echo-text-bg-other: #f0eff4;
$echo-chat-ui-text: #8a8a8a;

// MIXINS
@mixin flex-row($justify-content: space-around, $align-items: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-column($justify-content: space-around, $align-items: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin modal-header-styling() {
  background-color: $echo-darkblue;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding: 1%;
  @include flex-column(center, center);

  h2 {
    font-weight: 300;
    color: white;
  }
}

@mixin modal-styling($width: 35%, $gap: 10%) {
  width: $width;
  background-color: $echo-lightblue;
  border-radius: 30px;
  @include flex-column(flex-start, center);
  gap: $gap;
}

/* ---------------------------- GENERAL STYLING ---------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  padding: 100px 2% 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p,
span {
  font-size: 18px;
}

.MuiButton-contained {
  text-transform: initial !important;
}

.MuiButton-contained:hover,
a:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
}

.MuiTextField-root {
  background-color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 15px;
}

.MuiAutocomplete-popper {
  min-height: auto;
  max-height: 20vh;

  .MuiAutocomplete-listbox {
    min-height: auto;
    max-height: 20vh;
  }
}

.MuiAutocomplete-listbox {
  min-height: auto;
  max-height: 20vh;
}

/* ---------------------------- HEADER & FOOTER ---------------------------- */

header,
footer {
  width: 100%;
  padding: 1%;
  position: fixed;
  z-index: 2;
}

header {
  min-height: 6vh;
  @include flex-row(flex-start, center);
}

#header {
  height: 100px;
  #logo-container {
    width: 40%;
    height: 100%;
    cursor: pointer;

    img {
      object-fit: contain;
      max-height: 100%;
    }
  }
}

#header-dark {
  height: 100px;
  background-color: $echo-darkblue;
  @include flex-row(space-between, center);
  padding-right: 2%;
  #logo-container {
    width: 10%;
    height: 100%;
    cursor: pointer;
    @include flex-column(center, center);

    img {
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

// Logo animation
@keyframes logo-hover {
  10% {
    transform: translateX(25px);
  }
  30% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(15px);
  }
  70% {
    transform: translateX(-10px);
  }
  85% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

#logo-container:hover {
  animation-name: logo-hover;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

footer {
  height: 0;
  @include flex-row();
  bottom: 0;
}

/* ---------------------------- DROPDOWN MENU ---------------------------- */

#dropdown-menu-icon {
  color: white;
  font-size: 2.5vw !important;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: 0.3s linear;
  }
}

.MuiDrawer-root {
  .MuiDrawer-paper {
    background-color: $echo-lightblue;
    top: 1%;
    border-radius: 20px 0 0 20px;
    height: 65%;
    border: solid 5px $echo-darkgrey;
    border-right: 0;
    width: 35%;
  }
}

.settings-header {
  background-color: $echo-darkblue;
  width: 100%;
  padding: 1%;
  border-radius: 15px 0 0 0;
  height: 20%;
  @include flex-row(space-around, center);

  h2 {
    font-size: 30px;
    font-weight: 300;
    color: white;
  }

  #profile-avatar {
    width: 60px;
    height: 60px;
    background-color: $echo-darkblue;
    border: solid 2px white;
  }
}

.settings-options {
  @include flex-column(space-around, center);
  width: 100%;
  height: 60%;
  .settings-option {
    width: 90%;
    background-color: $echo-lightgrey;
    height: 20%;
    min-height: 30px;
    border-radius: 15px;
    padding: 0 5%;
    @include flex-row(space-between, center);
    color: $echo-darkgrey;
    cursor: pointer;

    h3 {
      font-size: 25px;
      font-weight: 300;
    }

    svg {
      font-size: 35px;
    }

    &:hover {
      transform: scale(1.02);
      transition: 0.3s linear;
    }
  }
}

.settings-footer {
  width: 100%;
  height: 20%;
  @include flex-row(flex-start, flex-end);
  padding: 6%;

  svg {
    font-size: 40px;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.3s linear;
    }
  }
}

/* ---------------------------- HOMEPAGE ---------------------------- */
#home-screen {
  background-color: $echo-lightgrey;
  position: relative;
  z-index: 1;
  overflow: hidden;

  #home-bg-shape {
    background-color: $echo-lightblue;
    width: 170%;
    height: 170%;
    position: absolute;
    top: 15%;
    left: -80%;
    z-index: -1;
    transform: rotateZ(40deg);
  }

  #home-login-btn,
  #home-signup-btn {
    width: 300px;
    font-size: 20px;
  }

  #home-login-btn {
    background-color: $echo-darkgrey;
  }

  #home-signup-btn {
    background-color: $echo-darkblue;
  }

  .home-btns {
    @include flex-column(center, center);
    gap: 20px;
    position: absolute;
    right: 8%;
    bottom: 20%;
  }
}

/* ---------------------------- LOGIN PAGE ---------------------------- */

#login-screen {
  @include flex-column(center, flex-end);
  padding-right: 15%;
  background-color: $echo-lightblue;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: $echo-darkgrey;

  #login-bg-shape {
    background-color: $echo-lightgrey;
    width: 2000px;
    height: 2000px;
    position: absolute;
    bottom: -530px;
    left: 40%;
    z-index: -1;
    transform: rotateZ(90deg);
    border-radius: 60%;
  }
}

#login-form-container {
  @include flex-column(center, center);
  gap: 50px;
}

#login-form {
  @include flex-column(center, flex-start);
  gap: 15px;
  width: 500px;

  .MuiTextField-root {
    margin-bottom: 5%;
  }
}

#login-button-div {
  width: 100%;
  @include flex-row(flex-end, center);
}

#login-btn {
  width: 200px;
  font-size: 18px;
  background-color: $echo-darkblue;
}

#login-link {
  a {
    margin: 0 4px !important;
    color: $echo-darkblue;
  }
}

/* ---------------------------- SignUp PAGE ---------------------------- */

#sign-up-screen {
  background-color: $echo-darkblue;
  background-image: -webkit-linear-gradient(
    138deg,
    $echo-lightgrey 60%,
    $echo-lightblue 40%
  );
  @include flex-column(center, center);
  gap: 50px;
}

#sign-up-form {
  @include flex-column(center, flex-start);

  gap: 15px;
  width: 500px;

  .MuiTextField-root {
    margin-bottom: 5%;
  }
}

#registration-btn-div {
  @include flex-column(flex-end, center);
  width: 100%;
  gap: 20px;
}

#sign-up-btn {
  width: 200px;
  background-color: $echo-darkblue;
}

#cancel-sign-up-btn {
  width: 200px;
  background-color: $echo-lightgrey;
  color: $echo-darkblue;
}

/* ---------------------------- SIDE MENU ---------------------------- */

#side-menu {
  .MuiDrawer-paper {
    top: unset;
    width: 8vw;
    @include flex-column(flex-start, center);
    border: 0;
    background-color: $echo-lightblue;
    border-radius: 0 0 20px 0;
    height: fit-content;
    border-bottom: 5px solid $echo-darkblue;
  }

  .MuiSvgIcon-root {
    font-size: 250%;
  }

  .MuiList-root {
    padding-top: 0;
    padding-bottom: 0;
  }

  .MuiListItem-root {
    justify-content: center;
    text-align: center;
    height: 130px;
    width: 100%;
    cursor: pointer;
  }

  .side-menu-img-container {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    @include flex-column(center, center);
    object-fit: contain;

    img {
      width: 100%;
      height: 100%;
      border-radius: 30%;
    }
  }
}

.side-menu-item {
  background-color: $echo-darkblue;
  .MuiSvgIcon-root {
    color: $echo-lightblue;
  }
}

#side-menu-item-before {
  border-radius: 0 0 20px 0;
}

#side-menu-item-after {
  border-radius: 0 20px 0 0;
}

#side-menu-item-selected {
  background-color: $echo-lightblue;
  .MuiSvgIcon-root {
    color: $echo-darkblue;
  }
}

/* ---------------------------- DASHBOARD ---------------------------- */

#loading-screen {
  width: 100%;
  height: 100%;
  @include flex-column(center, center);
  h2 {
    color: $echo-darkblue;
  }
}

.dashboard-main {
  height: 100%;
  width: 96%;
  margin-left: 6vw;
}

#dashboard {
  background-color: $echo-lightblue;
  min-height: fit-content;
  height: 100vh;
}

#dashboard-header-title {
  color: white;
  position: absolute;
  top: 0px;
  left: 22vw;
  right: 10vw;
  width: 68%;
  height: 100px;
  @include flex-column(center, center);
  z-index: 2;
}

// *** Dashboard Main *** //

.dashboard-main-menu {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  @include flex-row(center, flex-start);
  gap: 8%;
}

.dashboard-main-column {
  width: 450px;
  min-width: 22vw;
  background-color: $echo-lighterblue;
  border-radius: 0 0 20px 20px;
  min-height: 90%;
  height: fit-content;

  .column-header {
    width: 100%;
    @include flex-column(center, center);
    height: 50px;
    background-color: $echo-darkblue;
    border-radius: 0 0 20px 20px;
    h3 {
      color: white;
    }
  }

  .column-options {
    height: 100%;
    width: 100%;
    padding: 20px 5%;
    @include flex-column(flex-start, center);
    gap: 10px;
  }

  .dashboard-menu-item {
    border: solid 3px $echo-darkblue;
    width: 100%;
    aspect-ratio: 5/1;
    border-radius: 100px;
    background-color: $echo-lightblue;
    @include flex-row(flex-start, center);
    gap: 5%;
    cursor: pointer;

    .menu-item-avatar {
      height: 100%;
      width: 20%;
      border: solid 3px $echo-darkblue;
      margin-left: -3px;
    }

    .MuiSvgIcon-root {
      margin-left: 10px;
      font-size: 30px;
    }

    &:hover {
      transform: scale(105%);
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

/* ---------------------------- Friends-UI ---------------------------- */

#friends {
  height: 100%;
  width: 100%;
  @include flex-row(center, center);
}

.friends-menu {
  height: 100%;
  width: 25%;
  background-color: $echo-lightblue;
  @include flex-column(space-between, center);
  padding: 15px 0;

  .friends-display {
    @include flex-column(flex-start, center);
    gap: 15px;
  }

  .MuiAutocomplete-root .MuiOutlinedInput-root {
    padding-right: 5% !important;
  }

  .friends-bottombar {
    width: 100%;
    @include flex-column(center, center);
    gap: 15px;

    .add-friends-link {
      width: 90%;
      position: relative;
      a {
        @include flex-row(flex-start, center);
        gap: 20px;
        text-decoration: none;
        color: $echo-darkgrey;
        padding-left: 2%;
      }

      #notification-flag {
        width: 15px;
        height: 15px;
        background-color: $echo-red;
        border-radius: 3px;
        @include flex-column(center, center);
        color: white;
        font-size: 10px;
        font-weight: 800;
        position: absolute;
        top: -30%;
        left: 0;
      }
    }
  }

  #friend-selected {
    border: 3px solid $echo-darkblue;
    box-shadow: 8px 8px 40px $echo-darkblue;
  }

  .friend-menu-item {
    width: 90%;
    aspect-ratio: 5/1;
    border-radius: 100px;
    background-color: $echo-lightgrey;
    @include flex-row(flex-start, center);
    gap: 5%;
    cursor: pointer;

    .menu-item-avatar {
      height: 100%;
      width: 20%;
    }

    .MuiSvgIcon-root {
      margin-left: 10px;
      font-size: 30px;
    }

    &:hover {
      transform: scale(105%);
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .friend-item-header {
      @include flex-row(flex-start, center);
      width: 100%;

      span {
        font-size: 20px;
      }

      .MuiSvgIcon-root {
        font-size: 15px;
      }

      #green {
        color: green;
      }

      #orange {
        color: orange;
      }

      #red {
        color: $echo-red;
      }

      #grey {
        color: $echo-darkgrey;
      }
    }

    .friend-item-message {
      margin: 2% 0 2% 2%;
      max-width: 230px;
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 16px;
        color: $echo-darkgrey;
      }
    }
  }
}

.friends-chat-area {
  height: 100%;
  width: 75%;
  background-color: $echo-lighterblue;
  @include flex-column(center, center);

  h2 {
    color: $echo-darkgrey;
    font-weight: 300;
  }
}

.friend-search-chip {
  margin: 5px 2% !important;
  width: 96% !important;
  justify-content: flex-start !important;

  .add-friend-icon {
    position: absolute;
    right: 3%;
    font-size: 200% !important;
  }
}

/* ---------------------------- ChatUI ---------------------------- */

// chat
#chat-ui-container {
  background-color: $echo-lighterblue;
  @include flex-column(space-between, stretch);
  margin: 0;
  padding: 15px 1%;
  height: 100%;

  .chat-messages {
    // flex-column (justify content is required to be unset)
    @include flex-column(unset, normal);
    // height: fit-content;
    overflow-y: auto;
    padding-inline: 6px;

    .message-content-user {
      @include flex-column(flex-end, flex-end);
    }

    .message-content-other {
      @include flex-column(flex-start, flex-start);
    }

    .message-content {
      display: block;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 10px;
      max-width: 450px;
      width: fit-content;
    }
    .message-timestamp {
      color: $echo-chat-ui-text;
    }

    .message-user {
      @include flex-row(flex-end, center);
      background-color: $echo-text-bg-user;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 10px;
      width: fit-content;
    }
    .message-other {
      @include flex-row(flex-start, center);
      background-color: $echo-text-bg-other;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 10px;
      width: fit-content;
    }

    #message {
      padding-inline: 1rem;
    }

    #message-image-container {
      width: 300px;
      height: 300px;
      img {
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
    }
  }

  .message-status {
    position: fixed;
    bottom: 80px;
    font-size: 14px;
    font-style: italic;
  }
}

#message-file {
  @include flex-row(space-between, center);
  background-color: $echo-text-bg-other;
  padding: 10px;
  border-radius: 10px;

  .file-name {
    padding-inline: 1rem;
  }

  .file-size {
    padding-inline: 2px;
  }

  #message-file-mui {
    .MuiSvgIcon-root {
      font-size: 3rem;
    }
    .MuiBadge-badge {
      padding-left: 14px;
      padding-top: 30px;
    }
  }
}

// divider
#chat-divider-container {
  padding-block: 20px;
  text-align: center;
  color: $echo-chat-ui-text;

  #chat-divider {
    margin-block: 20px;
  }
}

// input

#chat-input-container {
  width: 100%;
  position: relative;
  bottom: 0;
}

/* ---------------------------- Add group modal ---------------------------- */

#add-group-modal-background {
  @include flex-column(center, center);
}

.add-group-modal {
  aspect-ratio: 3/4;
  @include modal-styling(35%, 6%);

  #add-group-modal-header {
    height: 13%;
    @include modal-header-styling();
  }

  #add-group-modal-body {
    width: 70%;
    height: 75%;
    @include flex-column(space-around, center);

    a {
      width: 100%;
      text-decoration: none;
    }

    #add-group-link {
      width: 100%;
      @include flex-row(center, center);
      gap: 10%;
      color: $echo-darkblue;
    }

    #add-group-bttn {
      background-color: $echo-darkblue;
      width: 70%;
      height: 8%;
    }
  }

  #add-group-img-input {
    display: none;
  }

  #img-upload-box {
    width: 200px;
    height: 200px;
    background-color: $echo-lightgrey;
    border-radius: 20px;
    cursor: pointer;
    @include flex-column(center, center);
    overflow: hidden;

    .MuiSvgIcon-root {
      font-size: 90px;
      margin-top: -10px;
      color: $echo-darkgrey;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  #group-members-container {
    @include flex-row(center, center);
    width: 100%;
    gap: 8%;

    .group-member-icon {
      @include flex-column(space-between, center);
      gap: 10px;
      padding: 1%;
    }
  }
}

/* ---------------------------- Edit Profile modal ---------------------------- */

#edit-profile-modal-background {
  @include flex-column(center, center);
}

#edit-profile-modal {
  width: 35%;
  height: fit-content;
  min-height: 95%;
  background-color: $echo-lightblue;
  border-radius: 30px;
  @include flex-column(flex-start, center);

  #edit-profile-modal-header {
    background-color: $echo-darkblue;
    padding-block: 2rem;
    text-align: center;
    border-radius: 30px 30px 0 0;
    width: 100%;

    h3 {
      color: white;
    }
  }

  #edit-profile-submit-button {
    margin-top: 8%;
    background-color: $echo-darkblue;
  }

  #edit-profile-modal-body {
    @include flex-column(space-around, center);
    width: 80%;
    gap: 5px;
    padding-top: 5%;
  }
  #edit-avatar-img-input {
    display: none;
  }

  #edit-avatar-img-box {
    width: 200px;
    height: 200px;
    background-color: $echo-lightgrey;
    cursor: pointer;
    @include flex-column(center, center);
    overflow: hidden;

    .MuiSvgIcon-root {
      font-size: 90px;
      margin-top: -10px;
      color: $echo-darkgrey;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  #edit-profile-avatar {
    width: 100%;
    height: 100%;
  }

  #edit-avatar-upload-box {
    width: 150px;
    height: 150px;
    background-color: $echo-lightgrey;
    border-radius: 20px;
    cursor: pointer;
    @include flex-column(center, center);
    overflow: hidden;

    .MuiSvgIcon-root {
      font-size: 90px;
      margin-top: -10px;
      color: $echo-darkgrey;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  #edit-profile-modal-textfields-container {
    width: 90%;
    padding-top: 4%;
    p {
      margin: 10px 0 5px 0;
    }
  }

  #edit-profile-modal-btn-container {
    @include flex-column(center, center);
    width: 100%;
  }

  #edit-profile-btn {
    color: $echo-lightgrey;
    background-color: $echo-darkgrey;
    width: 100%;
    margin-top: 8%;

    svg {
      margin-right: 10px;
    }
  }

  #edit-profile-btn:hover {
    transform: translateY(-2px);
    transform: scale(1.03);
    transition: 0.3s linear;
  }
}

/* ---------------------------- Password Update modal ---------------------------- */

#password-update-modal-background {
  @include flex-column(center, center);
}

#password-update-modal {
  width: 30%;
  background-color: $echo-lightblue;
  border-radius: 30px;
  @include flex-column(flex-start, center);
  gap: 10%;

  #password-update-modal-header {
    background-color: $echo-darkblue;
    text-align: center;
    padding-block: 2rem;
    border-radius: 30px 30px 0 0;
    width: 100%;

    h3 {
      color: white;
    }
  }

  #password-update-modal-body {
    @include flex-column(center, unset);
    padding-block: 1rem;
    width: 80%;
  }

  a {
    text-align: left;
  }

  #password-update-modal-btn-container {
    @include flex-column(space-between, unset);
    width: 80%;
    padding-block: 1rem;
    margin: auto;
  }

  #cancel-password-modal-btn {
    color: $echo-darkgrey;
    text-decoration: underline;
    width: 80%;
    margin: auto;
  }

  #cancel-password-modal-btn:hover {
    transform: translateY(-2px);
    transform: scale(1.03);
    transition: 0.3s linear;
    background-color: $echo-lightgrey;
  }
}

/* ---------------------------- Confirmation modals ---------------------------- */

#add-friend-modal-background {
  @include flex-column(center, center);
}

#add-friend-modal {
  aspect-ratio: 5/2;
  @include modal-styling(40%, 8%);

  #add-friend-modal-header {
    @include modal-header-styling();
    height: 25%;
  }
}

.confirmation-modal-center {
  width: 100%;
  @include flex-row(center, center);
  gap: 10%;

  .user-chip-avatar {
    width: 150px;
    height: 150px;
  }

  span {
    font-size: 20px;
  }
}

/* ---------------------------- Manage Friends Modal ---------------------------- */

#manage-friends-modal-background {
  @include flex-column(center, center);
}

#manage-friends-modal {
  @include modal-styling(45%, 8%);
  height: 70%;

  #manage-friends-modal-header {
    @include modal-header-styling();
    height: 15%;
  }
}

#manage-friends-modal-whitebox {
  width: 90%;
  height: 45%;
  max-height: 45%;
  background-color: #ffffff;
  overflow: auto;
  padding-left: 5%;
  gap: 15px;
  padding-top: 20px;
}

.manage-friends-link {
  width: 90%;
  @include flex-row(flex-start, center);
  gap: 20px;
  text-decoration: none;
  color: $echo-darkgrey;
  padding-left: 2%;
}

#search-icon {
  cursor: pointer;
}

/* ---------------------------- User Chip ---------------------------- */

.user-chip {
  width: 95%;
  aspect-ratio: 9/1;
  border-radius: 100px;
  background-color: $echo-lightgrey;
  @include flex-row(flex-start, center);
  gap: 5%;
  margin-bottom: 20px;
  position: relative;

  .user-chip-notification {
    color: $echo-red;
    position: absolute;
    z-index: 3;
    top: -10%;
    left: 7%;
    font-size: 20px !important;
  }

  .user-chip-avatar {
    height: 100%;
    width: 11%;
  }

  .MuiSvgIcon-root {
    font-size: 30px;
  }

  .user-chip-main {
    @include flex-row(space-between, center);
    width: 52%;

    h5 {
      margin-left: 20%;
      padding-top: 1%;
    }

    span {
      font-size: 18px;
    }

    .friend-request-icons {
      position: absolute;
      right: 5%;

      .friend-request-accept {
        color: green;
        margin-right: 10px;
      }

      .friend-request-refuse {
        color: $echo-red;
      }

      .friend-request-accept,
      .friend-request-refuse {
        cursor: pointer;
        &:hover {
          transform: scale(120%);
          transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }

    .remove-friends-icon {
      position: absolute;
      right: 5%;
      cursor: pointer;

      &:hover {
        transform: scale(110%);
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

#friends-request {
  background-color: $echo-lightblue;
}

/* ---------------------------- Groups page ---------------------------- */

.group-page {
  width: 100%;
  height: 100%;
  @include flex-row();

  .group-menu {
    height: 100%;
    width: 25%;
    padding: 1.5%;
    h2 {
      font-size: 40px;
    }
    @include flex-column(space-between, flex-start);

    div {
      width: 100%;
    }
  }

  .group-chat-area {
    height: 100%;
    width: 75%;
  }

  #channels-title {
    margin-top: 30px;
  }

  .group-options {
    width: 100%;
    height: fit-content;
    padding: 10% 5%;
    @include flex-column(flex-start, center);
    gap: 20px;

    .group-option {
      width: 100%;
      @include flex-row(space-between, center);
      a {
        font-size: 20px;
      }

      svg {
        font-size: 30px;
      }
      div {
        @include flex-row(flex-start, center);
        gap: 10%;
        min-width: 70%;
        width: fit-content;
      }
    }
  }

  #group-bttns {
    gap: 10px;
    padding: 0;
  }

  #manage-members-icon {
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      transition: 0.3s linear;
    }
  }
}

.group-button {
  width: 100%;
  background-color: $echo-lightgrey;
  height: 40px;
  border-radius: 15px;
  padding: 0 5%;
  @include flex-row(space-between, center);
  color: $echo-darkgrey;
  cursor: pointer;
  border: 0;

  h3 {
    font-size: 20px;
    font-weight: 200;
  }

  svg {
    font-size: 28px;
  }

  &:hover {
    transform: scale(1.02);
    transition: 0.3s linear;
  }
}

#group-delete-bttn {
  background-color: $echo-red;
  color: white;
  margin-top: 20%;
}

.group-admin-flag {
  width: 120% !important;
  padding: 3% 7%;
  @include flex-row(flex-start, center);
  gap: 10%;
  margin: -7% 0 5% -7%;
  background-color: $echo-darkgrey;
  color: rgb(251, 173, 7);
  img {
    width: 15%;
    max-width: 40px;
  }
}

/// Manage group modal ////

#manage-group-settings-textfield {
  width: 100%;
  p {
    margin-bottom: 2.1%;
    padding-left: 1%;
  }
}

#manage-group-submit-button {
  width: 100%;
  font-size: 19px;
  background-color: $echo-darkblue;
}

#manage-group-settings {
  gap: auto;
}

// ** ------------ Manage members modal -------------- ** //

#manage-members-modal {
  @include modal-styling(45%, 8%);
  height: 70%;

  #manage-members-modal-header {
    @include modal-header-styling();
    height: 15%;
  }
}

.manage-friends-bottom {
  width: 100%;
  @include flex-column(center, center);
  gap: 10px;
}

/* ---------------------------- Email Verification page ---------------------------- */

#email-verification {
  background-color: #a9bcd0; // Set a blue background color
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh; // Center the content vertically on the page
}

#email-verification-container {
  padding: 20px; // Add padding to the container
  text-align: center; // Center text inside the container
}

/* ---------------------------- channel page ---------------------------- */

.channel-delete-bttn-container {
  padding-block: 1%;
  .channel-button {
    width: 100%;
    background-color: $echo-lightgrey;
    height: 40px;
    border-radius: 15px;
    padding-block: 2%;
    padding: 0 5%;
    @include flex-row(space-between, center);
    color: $echo-darkgrey;
    cursor: pointer;
    border: 0;

    h3 {
      font-size: 20px;
      font-weight: 200;
    }

    svg {
      font-size: 28px;
    }

    &:hover {
      transform: scale(1.02);
      transition: 0.3s linear;
    }
  }

  #channel-delete-bttn {
    background-color: $echo-red;
    color: white;
    margin-top: 20%;
  }
}

#channel-name-header {
  @include flex-row(flex-start, center);
  padding: 5px;
}

/* ---------------------------- ADMIN HOME ---------------------------- */

#admin-home {
  background-color: $echo-lightblue;
  @include flex-row(center, center);

  #admin-title {
    position: absolute;
    top: 26px;
    z-index: 2;
    font-size: 40px;
    font-weight: 400;
    color: white;
  }

  .admin-home-partial {
    box-shadow: 2px 0px 6px $echo-darkblue;
    width: 30%;
    height: 50vh;
    background-color: $echo-lighterblue;
    border-radius: 10vh;
    @include flex-column(center, center);
    gap: 10%;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }

    svg {
      font-size: 10vw;
      color: $echo-darkblue;
    }

    h2 {
      font-size: 2vw;
      color: $echo-darkgrey;
    }
  }
}

#grid-loading-screen {
  width: 100%;
  height: 60vh;
  background-color: $echo-lightblue;
  @include flex-column(center, center);
  h2 {
    color: $echo-darkblue;
  }
}

.admin-manage-screen {
  width: 100%;
  height: 75vh;
  @include flex-column(flex-start, flex-end);
  gap: 5vh;

  .top-buttons-wrapper {
    width: 100%;
    @include flex-row(space-between, center);

    h2 {
      font-weight: 500;
      color: #00274c;
    }
  }
}

#admin-box,
#admin-datagrid,
.MuiDataGrid-root {
  border-radius: 20px;
  border: 0 !important;
  max-height: 65vh;
}

.top-row {
  background-color: $echo-darkblue;
  min-width: 100%;
  color: white;
  font-size: larger;
}

#admin-add-user {
  width: 20vw;
  min-width: 200px;
  background-color: $echo-darkblue;
  font-size: larger;
}
