//************** Main Stylesheet - SASS **************//

// Before using, start compiler from terminal in the static folder with command
// sass --watch style.scss:style.css

// COLORS
$echo-lightblue: #799cb1;
$echo-darkblue: #253d5b;
$echo-lightgrey: #d2d2d2;
$echo-darkgrey: #495057;

$echo-text-bg-user: #a9bcd0;
$echo-text-bg-other: #f0eff4;

// MIXINS
@mixin flex-row($justify-content: space-around, $align-items: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-column($justify-content: space-around, $align-items: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

/* ---------------------------- GENERAL STYLING ---------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  padding: 100px 0% 100px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p,
span {
  font-size: 18px;
}

.MuiButton-contained {
  text-transform: initial !important;
}

.MuiButton-contained:hover,
a:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
}

.MuiTextField-root {
  background-color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 15px;
}

/* ---------------------------- HEADER & FOOTER ---------------------------- */

header,
footer {
  min-height: 6vh;
  width: 100%;
  padding: 1%;
  position: fixed;
  z-index: 2;
}

header {
  @include flex-row(flex-start, center);
}

#header {
  height: 100px;
  #logo-container {
    width: 40%;
    height: 100%;
    cursor: pointer;

    img {
      object-fit: contain;
      max-height: 100%;
    }
  }
}

#header-dark {
  height: 100px;
  background-color: $echo-darkblue;
  #logo-container {
    width: 10%;
    height: 100%;
    cursor: pointer;
    @include flex-column(center, center);

    img {
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

// Logo animation
@keyframes logo-hover {
  10% {
    transform: translateX(25px);
  }
  30% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(15px);
  }
  70% {
    transform: translateX(-10px);
  }
  85% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

#logo-container:hover {
  animation-name: logo-hover;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

footer {
  height: 100px;
  @include flex-row();
  bottom: 0;
}

/* ---------------------------- HOMEPAGE ---------------------------- */
#home-screen {
  background-color: $echo-lightgrey;
  position: relative;
  z-index: 1;
  overflow: hidden;

  #home-bg-shape {
    background-color: $echo-lightblue;
    width: 170%;
    height: 170%;
    position: absolute;
    top: 15%;
    left: -80%;
    z-index: -1;
    transform: rotateZ(40deg);
  }

  #home-login-btn,
  #home-signup-btn {
    width: 300px;
    font-size: 20px;
  }

  #home-login-btn {
    background-color: $echo-darkgrey;
  }

  #home-signup-btn {
    background-color: $echo-darkblue;
  }

  .home-btns {
    @include flex-column(center, center);
    gap: 20px;
    position: absolute;
    right: 8%;
    bottom: 20%;
  }
}

/* ---------------------------- LOGIN PAGE ---------------------------- */

#login-screen {
  @include flex-column(center, flex-end);
  padding-right: 15%;
  background-color: $echo-lightgrey;
  position: relative;
  z-index: 1;
  overflow: hidden;

  #login-bg-shape {
    background-color: $echo-lightblue;
    width: 2000px;
    height: 2000px;
    position: absolute;
    bottom: -530px;
    left: 40%;
    z-index: -1;
    transform: rotateZ(90deg);
    border-radius: 60%;
  }
}

#login-form-container {
  @include flex-column(center, center);
  gap: 50px;
}

#login-form {
  @include flex-column(center, flex-start);
  gap: 15px;
  width: 500px;

  .MuiTextField-root {
    margin-bottom: 5%;
  }
}

#login-button-div {
  width: 100%;
  @include flex-row(flex-end, center);
}

#login-btn {
  width: 200px;
  font-size: 18px;
  background-color: $echo-darkblue;
}

#login-link {
  a {
    margin: 0 4px !important;
    color: white;
  }
}

/* ---------------------------- SignUp PAGE ---------------------------- */

#sign-up-screen {
  background-color: $echo-darkblue;
  background-image: -webkit-linear-gradient(
    138deg,
    $echo-lightblue 60%,
    $echo-lightgrey 40%
  );
  @include flex-column(center, center);
  gap: 50px;
}

#sign-up-form {
  @include flex-column(center, flex-start);

  gap: 15px;
  width: 500px;

  .MuiTextField-root {
    margin-bottom: 5%;
  }
}

#registration-btn-div {
  @include flex-column(flex-end, center);
  width: 100%;
  gap: 20px;
}

#sign-up-btn {
  width: 200px;
  background-color: $echo-darkblue;
}

#cancel-sign-up-btn {
  width: 200px;
  background-color: $echo-lightgrey;
  color: $echo-darkblue;
}

/* ---------------------------- SIDE MENU ---------------------------- */

#side-menu {
  .MuiDrawer-paper {
    top: unset;
    width: 12%;
    @include flex-column(flex-start, center);
    border: 0;
    background-color: $echo-lightblue;
    border-radius: 0 0 20px 0;
    height: fit-content;
  }

  .MuiSvgIcon-root {
    font-size: 250%;
  }

  .MuiList-root {
    padding-top: 0;
    padding-bottom: 0;
  }

  .MuiListItem-root {
    justify-content: center;
    text-align: center;
    max-height: 150px;
    min-height: 120px;
    width: 100%;
    cursor: pointer;
  }

  .side-menu-img-container {
    width: 100%;

    img {
      object-fit: contain;
      max-width: 100%;
    }
  }
}

.side-menu-item {
  background-color: $echo-darkblue;
  .MuiSvgIcon-root {
    color: $echo-lightblue;
  }
}

#side-menu-item-before {
  border-radius: 0 0 20px 0;
}

#side-menu-item-after {
  border-radius: 0 20px 0 0;
}

#side-menu-item-selected {
  background-color: $echo-lightblue;
  .MuiSvgIcon-root {
    color: $echo-darkblue;
  }
}

/* ---------------------------- DASHBOARD ---------------------------- */
.dashboard-main {
  padding-left: 14%;
}

#dashboard {
  background-color: $echo-lightblue;
  min-height: fit-content;
  height: 100vh;
}

#dashboard-header-title {
  color: white;
  position: absolute;
  width: 100vw;
  top: 0px;
  height: 100px;
  @include flex-column(center, center);
  z-index: 2;
}

/* ---------------------------- Friends-UI ---------------------------- */

.friends-chat-ui-container {
  @include flex-row(start, start);
}

.friends-list {
  background-color: $echo-text-bg-user;
  max-width: 300px;
}

/* ---------------------------- ChatUI ---------------------------- */

.chat-ui-container {
  background-color: $echo-lightgrey;
  @include flex-column(space-around, unset);
  // height: fit-content;

  margin: 0;
  padding: 2%;
}

.message {
  display: block;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 300px;
  width: fit-content;
}

.chat-messages {
  display: flex;
  height: 60vh;
  overflow: auto;
  flex-direction: column;
}

.message.user {
  align-self: flex-start;
  background-color: $echo-text-bg-user;
}

.message.other {
  align-self: flex-end;
  background-color: $echo-text-bg-other;
}

#chat-divider {
  margin-block: 20px;
}
