/* ---------------------------- GENERAL STYLING ---------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  padding: 100px 2% 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p,
span {
  font-size: 18px;
}

.MuiButton-contained {
  text-transform: initial !important;
}

.MuiButton-contained:hover,
a:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
}

.MuiTextField-root {
  background-color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 15px;
}

/* ---------------------------- HEADER & FOOTER ---------------------------- */
header,
footer {
  width: 100%;
  padding: 1%;
  position: fixed;
  z-index: 2;
}

header {
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#header {
  height: 100px;
}
#header #logo-container {
  width: 40%;
  height: 100%;
  cursor: pointer;
}
#header #logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
}

#header-dark {
  height: 100px;
  background-color: #253d5b;
}
#header-dark #logo-container {
  width: 10%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header-dark #logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

@keyframes logo-hover {
  10% {
    transform: translateX(25px);
  }
  30% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(15px);
  }
  70% {
    transform: translateX(-10px);
  }
  85% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
#logo-container:hover {
  animation-name: logo-hover;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

footer {
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
}

/* ---------------------------- HOMEPAGE ---------------------------- */
#home-screen {
  background-color: #d2d2d2;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#home-screen #home-bg-shape {
  background-color: #799cb1;
  width: 170%;
  height: 170%;
  position: absolute;
  top: 15%;
  left: -80%;
  z-index: -1;
  transform: rotateZ(40deg);
}
#home-screen #home-login-btn,
#home-screen #home-signup-btn {
  width: 300px;
  font-size: 20px;
}
#home-screen #home-login-btn {
  background-color: #495057;
}
#home-screen #home-signup-btn {
  background-color: #253d5b;
}
#home-screen .home-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 8%;
  bottom: 20%;
}

/* ---------------------------- LOGIN PAGE ---------------------------- */
#login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 15%;
  background-color: #d2d2d2;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#login-screen #login-bg-shape {
  background-color: #799cb1;
  width: 2000px;
  height: 2000px;
  position: absolute;
  bottom: -530px;
  left: 40%;
  z-index: -1;
  transform: rotateZ(90deg);
  border-radius: 60%;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
#login-form .MuiTextField-root {
  margin-bottom: 5%;
}

#login-button-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#login-btn {
  width: 200px;
  font-size: 18px;
  background-color: #253d5b;
}

#login-link a {
  margin: 0 4px !important;
  color: white;
}

/* ---------------------------- SignUp PAGE ---------------------------- */
#sign-up-screen {
  background-color: #253d5b;
  background-image: -webkit-linear-gradient(138deg, #799cb1 60%, #d2d2d2 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
#sign-up-form .MuiTextField-root {
  margin-bottom: 5%;
}

#registration-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#sign-up-btn {
  width: 200px;
  background-color: #253d5b;
}

#cancel-sign-up-btn {
  width: 200px;
  background-color: #d2d2d2;
  color: #253d5b;
}

/* ---------------------------- SIDE MENU ---------------------------- */
#side-menu .MuiDrawer-paper {
  top: unset;
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  background-color: #799cb1;
  border-radius: 0 0 20px 0;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 5px solid #253d5b;
}
#side-menu .MuiSvgIcon-root {
  font-size: 250%;
}
#side-menu .MuiList-root {
  padding-top: 0;
  padding-bottom: 0;
}
#side-menu .MuiListItem-root {
  justify-content: center;
  text-align: center;
  max-height: 150px;
  min-height: 120px;
  width: 100%;
  cursor: pointer;
}
#side-menu .side-menu-img-container {
  width: 100%;
}
#side-menu .side-menu-img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.side-menu-item {
  background-color: #253d5b;
}
.side-menu-item .MuiSvgIcon-root {
  color: #799cb1;
}

#side-menu-item-before {
  border-radius: 0 0 20px 0;
}

#side-menu-item-after {
  border-radius: 0 20px 0 0;
}

#side-menu-item-selected {
  background-color: #799cb1;
}
#side-menu-item-selected .MuiSvgIcon-root {
  color: #253d5b;
}

/* ---------------------------- DASHBOARD ---------------------------- */
.dashboard-main {
  height: 100%;
  width: 92%;
  margin-left: 10vw;
}

#dashboard {
  background-color: #799cb1;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100vh;
}

#dashboard-header-title {
  color: white;
  position: absolute;
  top: 0px;
  left: 12vw;
  width: 88%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.dashboard-main-menu {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8%;
}

.dashboard-main-column {
  width: 450px;
  min-width: 22vw;
  background-color: #d8dbe2;
  border-radius: 0 0 20px 20px;
  min-height: 90%;
  height: -moz-fit-content;
  height: fit-content;
}
.dashboard-main-column .column-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #253d5b;
  border-radius: 0 0 20px 20px;
}
.dashboard-main-column .column-header h3 {
  color: white;
}
.dashboard-main-column .column-options {
  height: 100%;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.dashboard-main-column .dashboard-menu-item {
  border: solid 3px #253d5b;
  width: 100%;
  aspect-ratio: 5/1;
  border-radius: 35px;
  background-color: #799cb1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  cursor: pointer;
}
.dashboard-main-column .dashboard-menu-item .menu-item-avatar {
  height: 100%;
  width: 20%;
  border: solid 3px #253d5b;
  margin-left: -3px;
}
.dashboard-main-column .dashboard-menu-item .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 30px;
}
.dashboard-main-column .dashboard-menu-item:hover {
  transform: scale(105%);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* ---------------------------- Friends-UI ---------------------------- */
#friends {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.friends-menu {
  height: 100%;
  width: 25%;
  background-color: #799cb1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.friends-menu .friends-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.friends-menu .MuiAutocomplete-root .MuiOutlinedInput-root {
  padding-right: 5% !important;
}
.friends-menu .friends-bottombar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.friends-menu .friends-bottombar .add-friends-link {
  width: 90%;
}
.friends-menu .friends-bottombar .add-friends-link a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #495057;
  padding-left: 2%;
}
.friends-menu #friend-selected {
  border: 3px solid #253d5b;
  box-shadow: 8px 8px 40px #253d5b;
}
.friends-menu .friend-menu-item {
  width: 90%;
  aspect-ratio: 5/1;
  border-radius: 35px;
  background-color: #d2d2d2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  cursor: pointer;
}
.friends-menu .friend-menu-item .menu-item-avatar {
  height: 100%;
  width: 20%;
}
.friends-menu .friend-menu-item .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 30px;
}
.friends-menu .friend-menu-item:hover {
  transform: scale(105%);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.friends-menu .friend-menu-item .friend-item-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.friends-menu .friend-menu-item .friend-item-header span {
  font-size: 20px;
}
.friends-menu .friend-menu-item .friend-item-header .MuiSvgIcon-root {
  font-size: 15px;
}
.friends-menu .friend-menu-item .friend-item-header #green {
  color: green;
}
.friends-menu .friend-menu-item .friend-item-header #orange {
  color: orange;
}
.friends-menu .friend-menu-item .friend-item-header #red {
  color: red;
}
.friends-menu .friend-menu-item .friend-item-message {
  margin: 2% 0 2% 2%;
  max-width: 230px;
}
.friends-menu .friend-menu-item .friend-item-message p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  color: #495057;
}

.friends-chat-area {
  height: 100%;
  width: 75%;
  background-color: #d8dbe2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friends-chat-area h2 {
  color: #495057;
  font-weight: 300;
}

.friend-search-chip {
  margin: 5px 2% !important;
  width: 96% !important;
  justify-content: flex-start !important;
}
.friend-search-chip .add-friend-icon {
  position: absolute;
  right: 3%;
  font-size: 200% !important;
}

/* ---------------------------- ChatUI ---------------------------- */
#chat-ui-container {
  background-color: #d2d2d2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin: 0;
  padding: 15px 1%;
  height: 100%;
}

#chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: normal;
  overflow-y: auto;
  padding-inline: 6px;
}
#chat-messages .message-timestamp {
  color: #8a8a8a;
}
#chat-messages .message-content {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-width: 300px;
  width: -moz-fit-content;
  width: fit-content;
}

.message {
  padding-bottom: 20px;
}

#message-image-container {
  width: 300px;
  height: 300px;
}
#message-image-container img {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#message-image-container .user {
  background-color: #a9bcd0;
}
#message-image-container .other {
  background-color: #f0eff4;
}

.message.user #message-timestamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.message.other {
  align-self: flex-end;
}
.message.other #message-timestamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.message-content {
  width: -moz-fit-content;
  width: fit-content;
}

.message.user .message-content {
  background-color: #a9bcd0;
}

.message.other .message-content {
  background-color: #f0eff4;
}
.message.other .message-content .message-timestamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#chat-divider-container {
  padding-block: 20px;
  text-align: center;
  color: #8a8a8a;
}
#chat-divider-container #chat-divider {
  margin-block: 20px;
}

#chat-input-container {
  width: 100%;
  position: relative;
  bottom: 0;
}

/* ---------------------------- Add group modal ---------------------------- */
#add-group-modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-group-modal {
  width: 35%;
  aspect-ratio: 3/4;
  background-color: #799cb1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}
#add-group-modal #add-group-modal-header {
  background-color: #253d5b;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding: 1%;
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#add-group-modal #add-group-modal-header h2 {
  font-weight: 300;
  color: white;
}
#add-group-modal #add-group-modal-body {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#add-group-modal #add-group-modal-body a {
  width: 100%;
  text-decoration: none;
}
#add-group-modal #add-group-modal-body #add-group-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  color: #253d5b;
}
#add-group-modal #add-group-modal-body #add-group-bttn {
  background-color: #253d5b;
  width: 70%;
  height: 8%;
}
#add-group-modal #add-group-img-input {
  display: none;
}
#add-group-modal #img-upload-box {
  width: 200px;
  height: 200px;
  background-color: #d2d2d2;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#add-group-modal #img-upload-box .MuiSvgIcon-root {
  font-size: 90px;
  margin-top: -10px;
  color: #495057;
}
#add-group-modal #img-upload-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

/* ---------------------------- Edit Profile modal ---------------------------- */
#edit-profile-modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-profile-modal {
  width: 30%;
  background-color: #799cb1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#edit-profile-modal #edit-profile-modal-header {
  background-color: #253d5b;
  padding-block: 2rem;
  text-align: center;
  border-radius: 30px 30px 0 0;
  width: 100%;
}
#edit-profile-modal #edit-profile-modal-header h3 {
  color: white;
}
#edit-profile-modal #edit-profile-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-block: 2rem;
  width: 80%;
  gap: 5px;
}
#edit-profile-modal #edit-avatar-img-input {
  display: none;
}
#edit-profile-modal #edit-avatar-img-box {
  width: 200px;
  height: 200px;
  background-color: #d2d2d2;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#edit-profile-modal #edit-avatar-img-box .MuiSvgIcon-root {
  font-size: 90px;
  margin-top: -10px;
  color: #495057;
}
#edit-profile-modal #edit-avatar-img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
#edit-profile-modal #edit-profile-avatar {
  width: 100%;
  height: 100%;
}
#edit-profile-modal #edit-avatar-upload-box {
  width: 150px;
  height: 150px;
  background-color: #d2d2d2;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#edit-profile-modal #edit-avatar-upload-box .MuiSvgIcon-root {
  font-size: 90px;
  margin-top: -10px;
  color: #495057;
}
#edit-profile-modal #edit-avatar-upload-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
#edit-profile-modal #edit-profile-modal-textfields-container {
  width: 80%;
  padding-block: 2rem;
}
#edit-profile-modal #edit-profile-modal-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
}
#edit-profile-modal #edit-profile-btn {
  color: #495057;
  background-color: #d2d2d2;
}
#edit-profile-modal #edit-profile-btn:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
}

/* ---------------------------- Password Update modal ---------------------------- */
#password-update-modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#password-update-modal {
  width: 30%;
  background-color: #799cb1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}
#password-update-modal #password-update-modal-header {
  background-color: #253d5b;
  text-align: center;
  padding-block: 2rem;
  border-radius: 30px 30px 0 0;
  width: 100%;
}
#password-update-modal #password-update-modal-header h3 {
  color: white;
}
#password-update-modal #password-update-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  padding-block: 1rem;
  width: 80%;
}
#password-update-modal a {
  text-align: left;
}
#password-update-modal #password-update-modal-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  width: 80%;
  padding-block: 1rem;
  margin: auto;
}
#password-update-modal #cancel-password-modal-btn {
  color: #495057;
  text-decoration: underline;
  width: 80%;
  margin: auto;
}
#password-update-modal #cancel-password-modal-btn:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
  background-color: #d2d2d2;
}/*# sourceMappingURL=style.css.map */