/* ---------------------------- GENERAL STYLING ---------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  padding: 100px 0% 100px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p,
span {
  font-size: 18px;
}

.MuiButton-contained {
  text-transform: initial !important;
}

.MuiButton-contained:hover,
a:hover {
  transform: translateY(-2px);
  transform: scale(1.03);
  transition: 0.3s linear;
}

.MuiTextField-root {
  background-color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 15px;
}

/* ---------------------------- HEADER & FOOTER ---------------------------- */
header,
footer {
  min-height: 6vh;
  width: 100%;
  padding: 1%;
  position: fixed;
  z-index: 2;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#header {
  height: 100px;
}
#header #logo-container {
  width: 40%;
  height: 100%;
  cursor: pointer;
}
#header #logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
}

#header-dark {
  height: 100px;
  background-color: #253d5b;
}
#header-dark #logo-container {
  width: 10%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header-dark #logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

@keyframes logo-hover {
  10% {
    transform: translateX(25px);
  }
  30% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(15px);
  }
  70% {
    transform: translateX(-10px);
  }
  85% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
#logo-container:hover {
  animation-name: logo-hover;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
}

/* ---------------------------- HOMEPAGE ---------------------------- */
#home-screen {
  background-color: #d2d2d2;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#home-screen #home-bg-shape {
  background-color: #799cb1;
  width: 170%;
  height: 170%;
  position: absolute;
  top: 15%;
  left: -80%;
  z-index: -1;
  transform: rotateZ(40deg);
}
#home-screen #home-login-btn,
#home-screen #home-signup-btn {
  width: 300px;
  font-size: 20px;
}
#home-screen #home-login-btn {
  background-color: #495057;
}
#home-screen #home-signup-btn {
  background-color: #253d5b;
}
#home-screen .home-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 8%;
  bottom: 20%;
}

/* ---------------------------- LOGIN PAGE ---------------------------- */
#login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 15%;
  background-color: #d2d2d2;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#login-screen #login-bg-shape {
  background-color: #799cb1;
  width: 2000px;
  height: 2000px;
  position: absolute;
  bottom: -530px;
  left: 40%;
  z-index: -1;
  transform: rotateZ(90deg);
  border-radius: 60%;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
#login-form .MuiTextField-root {
  margin-bottom: 5%;
}

#login-button-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#login-btn {
  width: 200px;
  font-size: 18px;
  background-color: #253d5b;
}

#login-link a {
  margin: 0 4px !important;
  color: white;
}

/* ---------------------------- SignUp PAGE ---------------------------- */
#sign-up-screen {
  background-color: #253d5b;
  background-image: -webkit-linear-gradient(138deg, #799cb1 60%, #d2d2d2 40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 500px;
}
#sign-up-form .MuiTextField-root {
  margin-bottom: 5%;
}

#registration-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#sign-up-btn {
  width: 200px;
  background-color: #253d5b;
}

#cancel-sign-up-btn {
  width: 200px;
  background-color: #d2d2d2;
  color: #253d5b;
}

/* ---------------------------- SIDE MENU ---------------------------- */
#side-menu .MuiDrawer-paper {
  top: unset;
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  background-color: #799cb1;
  border-radius: 0 0 20px 0;
  height: -moz-fit-content;
  height: fit-content;
}
#side-menu .MuiSvgIcon-root {
  font-size: 250%;
}
#side-menu .MuiList-root {
  padding-top: 0;
  padding-bottom: 0;
}
#side-menu .MuiListItem-root {
  justify-content: center;
  text-align: center;
  max-height: 150px;
  min-height: 120px;
  width: 100%;
  cursor: pointer;
}
#side-menu .side-menu-img-container {
  width: 100%;
}
#side-menu .side-menu-img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.side-menu-item {
  background-color: #253d5b;
}
.side-menu-item .MuiSvgIcon-root {
  color: #799cb1;
}

#side-menu-item-before {
  border-radius: 0 0 20px 0;
}

#side-menu-item-after {
  border-radius: 0 20px 0 0;
}

#side-menu-item-selected {
  background-color: #799cb1;
}
#side-menu-item-selected .MuiSvgIcon-root {
  color: #253d5b;
}

/* ---------------------------- DASHBOARD ---------------------------- */
.dashboard-main {
  padding-left: 14%;
}

#dashboard {
  background-color: #799cb1;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100vh;
}

#dashboard-header-title {
  color: white;
  position: absolute;
  width: 100vw;
  top: 0px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* ---------------------------- Friends-UI ---------------------------- */
.friends-chat-ui-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: -flex-start;
}

.friends-list {
  background-color: #a9bcd0;
  max-width: 300px;
}

/* ---------------------------- ChatUI ---------------------------- */
#chat-ui-container {
  background-color: #d2d2d2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin: 0;
  padding: 1%;
  height: 90vh;
}

#chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: normal;
  overflow-y: auto;
  padding-inline: 6px;
}
#chat-messages .message-timestamp {
  color: #8a8a8a;
}
#chat-messages .message-content {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  max-width: 300px;
  width: -moz-fit-content;
  width: fit-content;
}

.message {
  padding-bottom: 20px;
}

#message-image-container {
  width: 300px;
  height: 300px;
}
#message-image-container img {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#message-image-container .user {
  background-color: #a9bcd0;
}
#message-image-container .other {
  background-color: #f0eff4;
}

.message.user #message-timestamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.message.other {
  align-self: flex-end;
}
.message.other #message-timestamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.message-content {
  width: -moz-fit-content;
  width: fit-content;
}

.message.user .message-content {
  background-color: #a9bcd0;
}

.message.other .message-content {
  background-color: #f0eff4;
}
.message.other .message-content .message-timestamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#chat-divider-container {
  padding-block: 20px;
  text-align: center;
  color: #8a8a8a;
}
#chat-divider-container #chat-divider {
  margin-block: 20px;
}

#chat-input-container {
  width: 100%;
  position: relative;
  bottom: 0;
}/*# sourceMappingURL=style.css.map */